# SPDX-FileCopyrightText: 2023 Rebel Engine contributors
# SPDX-FileCopyrightText: 2014-2022 Godot Engine contributors
# SPDX-FileCopyrightText: 2007-2014 Juan Linietsky, Ariel Manzur
#
# SPDX-License-Identifier: MIT

# Rebel .gitignore

# Organized by sections, with subsections ordered alphabetically.
# 1. Rebel files
# 2. General build files
# 3. IDE and tool specific
# 4. OS specific


# 1. Rebel files
#    ###########

# Build system created
bin/
compile_commands.json
*.gen.*
.scons_env.json
.scons_node_count

# Custom configuration file
custom.py

# Rebel Editor created
.import/
logs/


# 2. General build files
#    ###################

# C/C++ generated
*.a
*.dll
*.lib
*.lo
*.o
*.obj
*.so

# Emscripten generated
*.bc

# Gradle generated
.gradle/
local.properties
platforms/android/project/**/build/
platforms/android/project/*/.cxx/
platforms/android/project/*/libs/
platforms/android/project/**/jniLibs/

# CSharp generated
obj/

# Python generated
__pycache__/

# Temporary files
*.tmp

# 3. IDE and tool specific
#    #####################

# clangd
.cache/
.clangd

# Code::Blocks
*.cbp
*.depend
*.layout

# CodeLite
.codelite/
.ctagsd/
*.project
*.workspace

# Eclipse CDT
.cproject
.project
.settings/

# Gcov
*.gcda
*.gcno
*.gcov

# Geany
*.geany
.geanyprj
*.tags

# Gprof
gmon.out

# Jetbrains
.idea/
*.iml

# Kdevelop
*.kdev4

# npm
node_modules/

# Qt Creator
*.pro.user*

# SCons
config.log
*.os
.sconf_temp/
.sconsign*.dblite


# Tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
gtags.files
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
.TAGS
tags
.tags

# Vim
*.swo
*.swp

# Visual Studio
cpp.hint
*.log
*.pdb
*.sln
*.suo
*.vcxproj*
.vs/

# Visual Studio Code
.vscode/
.history/

# Xcode
xcuserdata/

# 4. OS specific
#    ###########

# Linux
.directory

# macOS
.DS_Store
__MACOSX

# Windows
desktop.ini
Thumbs.db
