<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rebeltoolbox.rebelengine"
    android:versionCode="1"
    android:versionName="1.0">

    <application>

        <!-- Records the version of the library -->
        <meta-data
            android:name="com.rebeltoolbox.rebellibrary.version"
            android:value="${libraryVersion}" />

        <service android:name=".RebelDownloaderService" />

    </application>

    <instrumentation
        android:name=".RebelInstrumentation"
        android:icon="@mipmap/icon"
        android:label="@string/project_name_string"
        android:targetPackage="com.rebeltoolbox.rebelengine" />

</manifest>
